body {
  background-color: #fdf6e3;
}
header, footer{
  font-size: 1.5rem;
}

.logo {
  text-transform: uppercase;
}

nav ul {
  font-family: sans-serif;
}

.wrapper {
  background-color: #eee8d5;
}

.wrapper > .dfn {
  background-color: #b58900;
}

#contents, #favs, #facts, #types {
  color: #93a1a1;
}

#facts .dfn p strong:nth-child(2) {
  color: #fff;
}

html header nav ul mark {
  background-color: #719e07;
}

main ul rel="external {
  background-color: #2694d8;
}

ol li:first-child {
  color: #719e47;
}

ol li:last-child {
  color: #2aa198;
}

ul .types:nth-child(odd) {
  background-color: #657ba3;
}

ul .types:nth-child(even) {
  background-color: #586e75;
}

ul .types:nth-child(3n) {
  background-color: #d04b16;
}
